<nav class="menu" role="nav">
    <ul>
      <li><a href="/teh-codez">Teh Codez</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="https://twitter.com/aggieben"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/aggieben"><i class="fa fa-github"></i></a></li>
      <li><a href="http://stackoverflow.com/users/3279/ben-collins"><i class="fa fa-stack-overflow"></i></a></li>
    </ul>
</nav>
